            
<!-- This is used by Angular to populate the editProfile section -->

            <span class="Montserrat-h9">This section captures your introductory information.</span>
              <form style="padding-top: 15px;" role="form">
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <input type="text" class="form-control" placeholder="Enter your name">
                  </div>

                  <div class="pull-right col-xs-4">
                    <div class="profile-header-photo">
                        <img src="..." alt="..." class="hidden img-thumbnail">
                        <div style="background-color:#eee;height: 140px;width: 140px;border: 1px solid #CDCDCD;">
                           <i style="padding-top:50px;font-size: 25px;color:#535252" class='center-block glyphicon glyphicon-camera' ></i>
                        </div>          
                        <div style="text-align: center;padding-top: 10px;" class="Montserrat-h10">Upload profile photo</div>     
                    </div>

                  </div>
                </div><br>

                <div class="row">
                  <div class="col-xs-8 form-group">
                    <input type="text" class="form-control" placeholder="Short Professional description. 15 words max.">
                  </div>
                  <div class="help-block">e.g. CA with good experience in handing service TAX.</div>
                </div>

                 <div class="row">
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="Enter your Email">
                  </div>
                  <div class="help-block">You can change your email.</div>
                </div>

                <div class="row">
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="Enter your Phone number">
                  </div>
                  <div class="help-block">Businesses will contact you on this number.</div>                
                </div>                

                <div class="row">
                  <div class="col-xs-8 form-group">
                    <textarea style="width:100%" class="form-control" rows="4" placeholder="Enter a brief introduction of yourself. Please keep it within 60 words."></textarea>
                  </div>
                  <div style="margin-top: 60px;" class="help-block">What to write? Get an idea <a href="#">here</a></div>
                </div>

                <div class="row">
                  <div class="col-xs-8 form-group">
                    <input type="text" class="form-control" placeholder="Where are you located?">
                  </div>
                  <div class="help-block">e.g. Electronic City</div>
                </div>

                <div class="row">
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="Enter your City.">
                  </div>
                  <div class="help-block">Start typing to find.</div>
                </div>

                <!-- START: Social Media profile info -->

                <!-- + Sign for show/hide -->
                <div id="profile_contact" style="padding-bottom:20px;padding-top: 10px;background-image:url('../img/satinweave.png');border-bottom: 2px solid #A3E4FA;" class="row">
         
                     <br>
                    <span style="color: #666668;font-size:17px;" class="profile-page-icons glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;
                    <span class="h4">SOCIAL MEDIA</span>
                </div>


                <div class="row">
                  <div style="padding-left: 20px;" class="form-group">
                      <div class="Montserrat-h9-bold">This section captures your social media information</div>
                       <div class="Montserrat-h10">(Social media is optional. But will tremendously increase the trust among the businesses.)</div>
                   </div>
                </div>

                <div class="row">
                  <div class="col-xs-1 form-group">
                    <span style="font-size: 25px;color:#535252"  class="icon-linkedin"></span>&nbsp;                    
                  </div>
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="LinkedIn Profile"></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 form-group">
                    <span style="font-size: 25px;color:#535252"  class="icon-facebook"></span>&nbsp;                    
                  </div>
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="Facebook Profile"></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 form-group">
                    <span style="font-size: 25px;color:#535252"  class="icon-google-plus"></span>&nbsp;                    
                  </div>
                  <div class="col-xs-5 form-group">
                    <input type="text" class="form-control" placeholder="Google+ Profile"></div>
                </div>   

                <div class="row">
                  <div class="center-block col-xs-2 form-group">                    
                      <a href="#experience" class="btn-default btn">Save Profile</a>                     
                  </div>
                </div>  
            
                <!-- END: Social Media profile info -->

              </form>
